[submodule "src/Cli"]
	path = src/Cli
	url = ssh://git@github.com/microfarad-de/Cli.git
	branch = li-charger
[submodule "src/Adc"]
	path = src/Adc
	url = ssh://git@github.com/microfarad-de/Adc.git
	branch = li-charger
[submodule "src/Trace"]
	path = src/Trace
	url = ssh://git@github.com/microfarad-de/Trace.git
	branch = li-charger
[submodule "src/Nvm"]
	path = src/Nvm
	url = ssh://git@github.com/microfarad-de/Nvm.git
	branch = li-charger
[submodule "src/Led"]
	path = src/Led
	url = ssh://git@github.com/microfarad-de/Led.git
	branch = li-charger
[submodule "src/MathMf"]
	path = src/MathMf
	url = ssh://git@github.com/microfarad-de/MathMf
	branch = li-charger
[submodule "arduino-mk"]
	path = arduino-mk
	url = ssh://git@github.com/sudar/Arduino-Makefile
