[submodule "Cli"]
	path = Cli
	url = https://github.com/microfarad-de/Cli
	branch = li-charger

[submodule "Adc"]
	path = Adc
	url = ssh://git@github.com/microfarad-de/Adc.git
	branch = li-charger
[submodule "Trace"]
	path = Trace
	url = ssh://git@github.com/microfarad-de/Trace.git
	branch = li-charger
